<a ng-click='appCtrl.logOut(appCtrl.name)' href="./#/">Logout</a>
<div class="row">​
		<div>Welcome <p ng-bind='appCtrl.name'></p></div>
​</div>​


<div class='error' ng-model='errors' ng-repeat = 'error in appCtrl.errors'>{{error.errors.name.message}}</div>
​<div class="row">​
	<div class="col-xs-6 pull-right ">​
		<input type="text" placeholder="search name..." class="form-control" ng-model="filter_name">​
	</div>​
​</div>​
	<a class='col-xs-4 pull-right' href="./#/new_app">Add New Appointment</a>​
​<div class="row">​
	<table class="table table-striped table-bordered">
		<thead class-'info'>​
			<tr>​
				<th>Date</th>​
				<th>Time</th>​
				<th>Patient Name</th>​
				<th>Complaint</th>​
				<th>Action</th>​

			</tr>​
		</thead>​
		<tbody>​
			<tr ng-repeat="app in appCtrl.apps | filter: filter_name | orderBy: 'date'" ng-show='app.date >= appCtrl.previousDay'>​
				<td ng-bind="app.date | date:'longDate'"></td>​
				<td ng-bind="app.time| date:'shortdate'"></td>​
				<td ng-bind="app.name"></td>​
				<td ng-bind="app.complain"></td>
				<td><button class="btn btn-danger" ng-hide='app.name != appCtrl.name' ng-click="appCtrl.destroyApp(app)">Cancel</button></td>​
			</tr>​
		</tbody>​
	</table>​
​</div>
